body{
     background-image:  linear-gradient(to left, rgb(247, 37, 37) , rgb(240, 240, 53));
}

h1 
{
    color: #4fa7f3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

h2{
    color:aqua;
    background-color: #fff;
    border: 5px solid #000;
    padding: 10px;
}